/* Basic Elements */
h2 {
    color: #a68ab7;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

/* Containers */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.code-container {
    display: flex;
    justify-content: center;  /* Center the entire code container */
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
    max-width: 1300px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.description {
    flex: 1 1 60%;
    max-width: 45%;
    color: #ddd;
    font-size: 16px;
}

.descriptionwide {
    flex: 1 1 60%;
    max-width: 70%;
    color: #ddd;
    font-size: 16px;
}

.description-double {
    max-width: 950px;
}

.flex-item {
    flex: 1;
    color: #ddd;
    font-size: 16px;
}

.code {
    max-width: 600px;
}

/* Project Details */
.project-details {
    flex: 1 1 35%;
    max-width: 35%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    min-width: 200px;
}

.detail-item {
    display: flex;
    align-items: center;
    background-color: #2d2d3a;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #ddd;
    width: calc(50% - 20px);
    text-align: left;
    font-size: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    box-sizing: border-box;
}

.detail-item i {
    font-size: 24px;
    color: #a68ab7;
    margin-right: 15px;
    transition: transform 0.3s ease;
}

.detail-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #3e3e4d;
}

.detail-item:hover i {
    transform: rotate(-10deg);
}

.detail-item span {
    font-size: 16px;
}

/* Image Containers */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Flexible columns based on available space */
    gap: 20px;
    margin-top: 20px;
    justify-items: center; /* Center align each grid item */
}

/* Image Containers */
.image-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-column: 1;
    max-width: 600px;
    min-width: 100px;
    width: auto; /* Allow it to grow with the scaling class */
}

.image-container img {
    max-width: 100%; /* Make sure the image scales within the container */
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1); /* Slightly zoom in on hover */
}

.image-container figcaption {
    margin-top: 8px;
    font-size: 14px;
    color: #a68ab7;
    font-style: italic;
}
/* Image Width Classes */
.width-40 img {
    max-width: 40%;
}

.width-45 img {
    max-width: 45%;
}

.width-50 img {
    max-width: 50%;
}

.width-60 img {
    max-width: 60%;
}

.width-75 img {
    max-width: 75%;
}

.width-80 img {
    max-width: 80%;
}

.width-90 img {
    max-width: 90%;
}

.width-100 img {
    max-width: 100%;
}

.width-110 img {
    max-width: 110%;
}

.width-120 img {
    max-width: 120%;
}

.width-130 img {
    max-width: 130%;
}

.width-140 img {
    max-width: 140%;
}

.width-150 img {
    max-width: 150%;
}

.width-200 img {
    max-width: 200%;
}

/* Image Caption */
.image-container figcaption {
    color: #a68ab7;
    margin-top: 10px;
    font-style: italic;
    font-size: 14px;
}

/* Code Block */
pre code {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Project Links */
.project-links {
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

.project-links h2 {
    color: #a68ab7;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}

.link-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
}

.link-list li {
    align-items: center;
    font-size: 16px;
    background-color: transparent; /* Initial background color */
    padding: 0; /* Remove padding from the li and apply it to the a */
    border-radius: 12px; /* Rounded corners */
    transition: background-color 0.4s ease, transform 0.4s ease; /* Smooth transitions */
}

.link-list li:hover {
    transform: scale(1.05); /* Slight zoom-in on hover */
}

.link-list a {
    display: flex; /* Make the anchor fill the space */
    align-items: center;
    gap: 8px;
    padding: 15px 20px; /* Add padding to the anchor instead of the li */
    border-radius: 12px; /* Apply the same rounded corners */
    text-decoration: none;
    color: #ddd;
    background-color: transparent;
    transition: background-color 0.4s ease, color 0.3s ease; /* Smooth background and color transition */
}

.link-list a:hover {
    background-color: rgba(58, 100, 122, 0.2); /* Background color on hover */
    color: #a68ab7; /* Text color on hover */
}

.link-list i {
    font-size: 24px;
    color: #a68ab7;
    transition: color 0.3s ease;
}

.link-list a:hover i {
    color: #7e5ba5;
}

/* Container for the image slider and caption */
.imageSlider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Make the container responsive */
    max-width: 500px; /* Optional max width */
    margin-bottom: 20px; /* Add space below the slider and caption */
}

.imageSlider-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Make the container responsive */
    max-width: 500px; /* Optional max width */
    height: 100px;
    margin-bottom: 110px; /* Add space below the slider and caption */
}

/* Image Slider */
.imageSlider {
    position: relative;
    width: 100%; /* Full width responsiveness */
    max-width: 500px; /* Maintain a max width */
    height: 500px; /* Fixed height or adjust as needed */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.imageSlider-1 {
    position: relative;
    width: 100%; /* Full width responsiveness */
    max-width: 400px; /* Maintain a max width */
    height: 170px; /* Fixed height or adjust as needed */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

/* Caption styling */
.imageSlider-caption {
    margin-top: 103%;
    font-size: 14px;
    color: #a68ab7;
    text-align: center;
    font-style: italic;
}

.imageSlider-caption-1 {
    margin-top: 50%;
    font-size: 14px;
    color: #a68ab7;
    text-align: center;
    font-style: italic;
}

.imageSlider-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    border-radius: inherit;
}

.imageSlider-wrapper-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    border-radius: inherit;
}

.imageSlider-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    border-radius: inherit;
}

.img-wrapper-overlay {
    clip-path: inset(0 50% 0 0); /* Show only left half of the right image initially */
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%; /* Start the slider in the middle */
    width: 4px;
    background-color: rgb(76, 58, 98); /* Dark purple */
    cursor: ew-resize;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
}

.handle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: rgba(76, 58, 98, 0.7); /* Slightly transparent light purple */
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.85); /* Light shadow for better visibility */
}

.drag-indicator {
    color: #ddd;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
}

.copy-link {
    margin-left: 10px;
    color: #a68ab7;
    cursor: pointer;
    font-size: 18px;
    vertical-align: middle;
    transition: color 0.3s ease;
}

.feature-header {
    position: relative; /* For positioning the icon */
    display: inline-block; /* So the icon aligns properly */
    cursor: pointer;
}

.copy-icon {
    margin-left: 8px;
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Transparent */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth visibility change */
}

.feature-header:hover .copy-icon, /* Show on header hover */
.copy-icon:hover { /* Ensure icon stays visible on its hover */
    visibility: visible;
    opacity: 1;
}

.copy-icon i {
    color: #a68ab7; /* Match header color */
    font-size: 18px;
    cursor: pointer;
}

.copy-icon i:hover {
    color: #7e5ba5; /* Change color on hover */
}



/* Media Queries */
@media (max-width: 1150px) {
    .description {
        max-width: 100%;
    }

    .code-container {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .detail-item {
        width: 100%;
    }

    .project-details {
        max-width: 100%;
        flex: 1 1 100%;
        min-width: 0;
    }
}

@media (max-width: 768px) {
    .image-container {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .code-container {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .code {
        max-width: 100%;
    }

    .flex-item {
        max-width: 100%;
    }

    .description, .description-double {
        max-width: 100%;
        padding: 0 20px;
    }

    .descriptionwide {
       /* width: 100%; /* Full width of parent */
        max-width: 100%; /* Ensures it doesn’t exceed the parent’s width */
    }

    .description, .project-details {
        max-width: 100%;
        flex: 1 1 100%;
    }

    .detail-item {
        width: 100%;
    }

    .project-details {
        max-width: 100%;
        flex: 1 1 100%;
        min-width: 0;
    }

    .image-container img {
        max-width: 100%;
        width: 100%;
    }

    .image-grid .image-container {
        flex: 1 1 100%;
        max-width: 100%;
    }

    hr {
        opacity: 1;
        background: linear-gradient(to right, #a68ab7, #4c3a62);
        height: 3px;
        border-radius: 5px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
        margin: 30px 0;
    }

    .link-list {
        gap: 10px;
        flex-direction: column;
    }

    .project-links {
        text-align: center;
    }

    .imageSlider {
        max-width: 100%; /* Full width on smaller screens */
        height: auto; /* Adjust height for responsiveness */
    }

    .imageSlider-wrapper img {
        object-fit: contain;
    }

    .imageSlider-caption {
        margin-top: 110%;
    }
}

@media (max-width: 480px) {
    .detail-item {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .link-list {
        flex-direction: row;
    }

    .link-list li {
        margin: 0 20px;
    }
}
