/* Basic Elements */
h2 {
    color: #a68ab7;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

/* Containers */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.code-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.description {
    flex: 1 1 60%;
    max-width: 45%;
    color: #ddd;
    font-size: 16px;
}

.description-double {
    max-width: 950px;
}

.flex-item {
    flex: 1;
    color: #ddd;
    font-size: 16px;
}

.code {
    max-width: 600px;
}

/* Project Details */
.project-details {
    flex: 1 1 35%;
    max-width: 35%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    min-width: 200px;
}

.detail-item {
    display: flex;
    align-items: center;
    background-color: #2d2d3a;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #ddd;
    width: calc(50% - 20px);
    text-align: left;
    font-size: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    box-sizing: border-box;
}

.detail-item i {
    font-size: 24px;
    color: #a68ab7;
    margin-right: 15px;
    transition: transform 0.3s ease;
}

.detail-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #3e3e4d;
}

.detail-item:hover i {
    transform: rotate(15deg);
}

.detail-item span {
    font-size: 16px;
}

/* Image Containers */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: none;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;  /* Allows wrapping if there isn't enough space */
    gap: 20px;
    justify-content: center;
}

.image-grid .image-container {
    flex: 1 1 auto;   /* Allow flexibility to grow or shrink */
    /* max-width: none; */
    max-width: calc(50% - 20px);  /* Allows up to two images per row */
    box-sizing: border-box;
}

.image-container img {
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* max-width: 100%; */
    /* width: 100%; */
    transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.image-container img:hover {
    transform: scale(1.2); /* Scale up on hover */
    z-index: 10; /* Bring to front */
    position: relative; /* Set position to allow z-index to work */
}

/* Image Width Classes */
.width-40 img {
    max-width: 40%;
}

.width-50 img {
    max-width: 50%;
}

.width-60 img {
    max-width: 60%;
}

.width-75 img {
    max-width: 75%;
}

.width-100 img {
    max-width: 100%;
}

.width-110 img {
    max-width: 110%;
}

.width-120 img {
    max-width: 120%;
}

.width-130 img {
    max-width: 130%;
}

.width-140 img {
    max-width: 140%;
}

/* Image Caption */
.image-container figcaption {
    color: #a68ab7;
    margin-top: 10px;
    font-style: italic;
    font-size: 14px;
}

/* Code Block */
pre code {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Horizontal Rule */
hr {
    border: none;
    height: 2px;
    background-color: #4c3a62;
    margin: 0;
    opacity: 0;
}

/* Project Links */
.project-links {
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

.project-links h2 {
    color: #a68ab7;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}

.link-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
}

.link-list li {
    align-items: center;
    font-size: 16px;
    background-color: transparent; /* Initial background color */
    padding: 0; /* Remove padding from the li and apply it to the a */
    border-radius: 12px; /* Rounded corners */
    transition: background-color 0.4s ease, transform 0.4s ease; /* Smooth transitions */
}

.link-list li:hover {
    transform: scale(1.05); /* Slight zoom-in on hover */
}

.link-list a {
    display: flex; /* Make the anchor fill the space */
    align-items: center;
    gap: 8px;
    padding: 15px 20px; /* Add padding to the anchor instead of the li */
    border-radius: 12px; /* Apply the same rounded corners */
    text-decoration: none;
    color: #ddd;
    background-color: transparent;
    transition: background-color 0.4s ease, color 0.3s ease; /* Smooth background and color transition */
}

.link-list a:hover {
    background-color: rgba(58, 100, 122, 0.2); /* Background color on hover */
    color: #a68ab7; /* Text color on hover */
}

.link-list i {
    font-size: 24px;
    color: #a68ab7;
    transition: color 0.3s ease;
}

.link-list a:hover i {
    color: #7e5ba5;
}


/* Media Queries */
@media (max-width: 1150px) {
    .description {
        max-width: 100%;
    }

    .code-container {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .detail-item {
        width: 100%;
    }

    .project-details {
        max-width: 100%;
        flex: 1 1 100%;
        min-width: 0;
    }
}

@media (max-width: 768px) {
    .image-container {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .code-container {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .code {
        max-width: 100%;
    }

    .flex-item {
        max-width: 100%;
    }

    .description, .description-double {
        max-width: 100%;
        padding: 0 20px;
    }

    .description, .project-details {
        max-width: 100%;
        flex: 1 1 100%;
    }

    .detail-item {
        width: 100%;
    }

    .project-details {
        max-width: 100%;
        flex: 1 1 100%;
        min-width: 0;
    }

    .image-container img {
        max-width: 100%;
        width: 100%;
    }

    .image-grid .image-container {
        flex: 1 1 100%;
        max-width: 100%;
    }

    hr {
        opacity: 1;
        background: linear-gradient(to right, #a68ab7, #4c3a62);
        height: 3px;
        border-radius: 5px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
        margin: 30px 0;
    }

    .link-list {
        gap: 10px;
        flex-direction: column;
    }

    .project-links {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .detail-item {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .link-list {
        flex-direction: row;
    }

    .link-list li {
        margin: 0 20px;
    }
}
