/* base.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2e; /* Dark background */
    color: #ddd;
    padding: 20px;

    /* Polka dots pattern */
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 20%, transparent 20%);
    background-size: 100px 100px;
    background-blend-mode: overlay;
}  

/* Adjust header for dark mode */
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    color: #a68ab7; /* Light purple for header text */
}

.hidden {
    display: none;
    max-width: 0px;
    max-height: 0px;
    position: absolute;
}

/* Adjust footer styling */
footer {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    color: #777; /* Darker grey for footer text */
}

footer a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: #777; /* Same light purple as the header */
}

.blur-image, .project img.blur-image {
    filter: blur(2px) saturate(0);
}

.intro-text {
    text-align: center;
    margin: 20px auto 50px;
    max-width: 800px;
    font-size: 18px;
    color: #ccc;
}

/* Styling for inline code blocks inside backticks */
highlight-text {
    background-color: #2d2d2d; /* Darker background */
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
    color: #f8f8f2; /* Lighter text color */
}

/* Custom scrollbar for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
    background: #2c2c3a; /* Dark background to match the theme */
    border-radius: 10px; /* Rounded corners */
}

/* Handle (scrollbar thumb) */
::-webkit-scrollbar-thumb {
    background-color: #4c3a62; /* Purple scrollbar handle */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid #2c2c3a; /* Adds padding inside the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #7e5ba5; /* Lighter purple when hovering */
}

/* Custom scrollbar for Firefox */
html {
    scrollbar-width: thin; /* Sets the scrollbar width */
    scrollbar-color: #4c3a62 #2c2c3a; /* Thumb color and track color */
}
