* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2e; /* Dark background with a hint of purple */
    color: #ddd; /* Light grey text for readability */
    padding: 20px;
}

/* Adjust header for dark mode */
header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 36px;
    color: #a68ab7; /* Light purple for header text */
}

.hidden {
    display: none;
    max-width: 0px;
    max-height: 0px;
    position: absolute;
}

/* Adjust footer styling */
footer {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    color: #777; /* Darker grey for footer text */
}

/* Styling for inline code blocks inside backticks */
highlight-text {
    background-color: #2d2d2d; /* Darker background */
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
    color: #f8f8f2; /* Lighter text color */
}